* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

#about,
#posts {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  padding-top: 40px;
  padding-bottom: 10px;

}


/* ---BANER --- */
.banner {
  background-image: url(../images/banner3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  display: table;
}

.banner-text {
  text-align: center;
  vertical-align: middle;
  height: 80%;
  font-size: 0.6rem;
  font-weight: 300;
  display: table-cell;
}

.banner-text h1,
.banner-text button {
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
}

.banner-text button {
  background-color: #0080ff;
  width: 35%;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.6rem;
  margin-top: 20px;
  border: 2px solid #0080ff;
}

.banner-text button:hover {
  background-color: #0095ff;
  border: 2px solid #0095ff;
}


/* --- NAVIGATION --- */
.main-h2 {
  margin: 40px auto 20px auto;
  padding: 5px 10px;
  color: rgb(128, 128, 128);
  text-align: center;
  font-size: 40px;
}

.main-h2 span {
  display: inline-block;
  color: rgb(255, 165, 0);
  border: 6px solid rgb(128, 128, 128);
  border-right: 0;
  padding-left: 20px;
}

nav {
  color: #ffffff;
  margin: 20px;
  text-align: center;
}

nav ul {
  padding: 10px 0;
}

nav ul li {
  width: 100%;
}

nav ul li a:link,
nav ul li a:visited {
  display: block;
  background-color: #55c3fa;
  padding: 10px;
  font-size: 1rem;
  list-style: none;
  font-weight: 600;
  width: 100%;
}

nav ul li a:hover,
nav ul li a:active {
  color: #059fec;
  color: rgb(255, 165, 0);
  background-color: #ffffff;
}


/* ~~ ABOUT ~~ */
#about {
  /* padding: 10px 20px; */
  margin-top: 60px;
  background-color: rgb(245, 245, 245);
}

.container {
  padding: 20px 40px;
}

hr.styled {
  height: 4px;
  width: 30%;
  border: 1;
  box-shadow: inset 0 9px 9px -3px rgba(11, 99, 184, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

hr.styled-down {
  margin-bottom: 40px;
}

#about h3 {
  color: #55c3fa;
  padding-left: 0;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
}

#about p {
  padding: 20px 0;
}

#about ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

#about ul li {
  padding: 7px 0;
}

#about ul li::before {
  content: ' \27A9';
  color: rgb(255, 165, 0);
}

.about {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding: 40px 0px 20px 0;
}

/* ~~ POSTS ~~ */

.posts {
  background: #55c3fa;
  margin: 40px;
  padding: 40px;
  color: white;
  text-align: justify;
}

.posts img {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  width: 30%;
  vertical-align: middle;
}

.posts h4 {
  display: inline-block;
  position: relative;
  left: 5%;
  margin-top: 10%;
  color: black;
  text-transform: uppercase;
  font-size: 1.2em;
}

.posts h4 span {
  color: rgb(255, 255, 255);
}

.posts p {
  line-height: 1.6em;
}

/* ~~ CONTACT ~~ */

.contact-fragments {
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
}

.contact,
.connect,
.address {
  min-height: 120px;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

#contact h3 {
  padding-top: 20px;
  margin: 0;
}

.contact {
  background-color: #00e6ac;
}

.connect {
  background-color: #ff66a3;
}

#contact i {
  margin-right: 8px;
}

.address {
  background-color: #0066ff;
}

.house {
  background-color: #66c2ff;
  min-width: 300px;
  padding: 20px;
}

/* ~~ MAIL-US ~~ */

#mail-us {
  width: 100%;
}

form {
  width: 90%;
  margin: 10px auto;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid rgb(43, 43, 43);
  margin: 10px 0px 20px 0px;
  padding: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(255, 165, 0, 1);
  border: 1px solid rgb(255, 165, 0, 1);
}

input[type="button"] {
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  background-color: #0080ff;
  background-color: rgb(255, 165, 0);
  width: 150px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 2px solid rgb(255, 165, 0);
  overflow: hidden;
}

input[type="button"]:hover {
  background-color: rgb(255, 173, 21);
}

input[type="button"]:focus {
  outline: none;
}

/* ~~ FOOTER ~~ */

footer {
  background-color: #303030;
  color: rgb(255, 255, 255);
  height: 200px;
}

.footer-ul {
  margin: 30px o;
}

.footer-ul ul {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 50px 0;
}

.footer-ul li {
  display: inline-block;
}

.footer-ul li a {
  text-decoration: none;
  padding: 20px 10px;
  color: rgb(255, 255, 255);
}

footer p {
  text-align: center;
}

/* ~~ Tablet media query ~~ */

@media only screen and (min-width: 768px) {
  body {
    position: relative;
  }

  .banner {
    min-height: 550px;
  }

  .banner-text {
    font-size: 1rem;
  }

  .banner-text button {
    max-width: 220px;
    font-size: 0.8rem;
    width: 20%;
  }

  .main-h2 {
    position: absolute;
    top: 0;
    left: 10px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }

  .main-h2 span {
    border: 6px solid rgb(255, 255, 255);
    border-right: 0;
  }

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 80px;
    overflow: hidden;
    margin: 0;
    background-color: transparent;
  }

  .navigation-list {
    float: right;
    margin-top: 7px;
    margin-right: 20px;
    padding-right: 10px;
    background-color: transparent;

  }

  nav ul {
    height: 100%;
    background-color: transparent;
    margin-top: 22px;
  }

  nav ul li {
    background-color: transparent;
    float: left;
    font-size: 15px;
    list-style: none;
    font-weight: 300;
    letter-spacing: 1px;
    width: inherit;
  }

  nav ul li a:link,
  nav ul li a:visited {
    display: inline;
    background-color: transparent;
    font-size: .8rem;
    margin: 10px;
    padding: 0;
    padding-bottom: 5px;
    margin: 10px;
  }

  nav ul li:hover {
    background-color: transparent;
  }

  nav ul li a:hover,
  nav ul li a:active {
    background-color: inherit;
    border-bottom: 2px solid rgb(255, 165, 0);
  }

  /* ~~ ABOUT ~~ */

  #about {
    margin: 0 auto;
  }

  .container {
    padding: 40px;
  }

  .about-fragment {
    float: left;
    width: 49.9%;
    padding: 2%;
  }

  #about::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 40px;
  }

  /* ~~ POSTS ~~ */

  #posts {
    margin: 0 auto;
    padding: 5%;
  }

  .posts-article {
    margin-top: 30px;
  }

  .posts {
    float: left;
    width: 47%;
    margin: 10px;
    padding: 20px;
  }

  #posts::after {
    content: "";
    clear: both;
    display: table;
  }

  /* ~~ CONTACT ~~ */

  .contact-fragments {
    float: left;
    width: 49.9%;
    padding-top: 40px;
    min-height: 200px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .house img {
    height: 150px;
    width: auto;
  }

  .house {
    padding: 20px;
  }

  .house::after {
    content: "";
    clear: both;
    display: table;
  }

  /* ~~ MAIL-US ~~ */

  input {
    display: inline-block;
    width: 32%;
    margin-bottom: 20px;
  }

  #name {
    margin-right: 1.5%;
  }

  #email {
    margin: 0 auto;
  }

  #telephone {
    float: right;
    margin-left: 1.5%;
  }
}


/* ~~ Desktops media query ~~ */

@media only screen and (min-width: 992px) {

  body {
    position: relative;
  }

  h1 {
    font-size: 3em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 40px;
  }

  .banner {
    min-height: 770px;
    height: 100vh;
  }

  .banner-text button {
    margin-top: 40px;
    ;
  }

  /* ~~ ABOUT ~~ */

  #about {
    width: 100%;
  }

  .container {
    padding-top: 0;
    width: 90%;
    margin: 0 auto;
  }

  h2 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  #about h3 {
    padding-top: 15px;
  }

  .about {
    margin: 0 auto;
    padding-top: 100px;
  }

  .about-fragment {
    float: left;
    width: 32%;
    padding: 3%;
    margin: 0 auto;
  }

  .about-fragment p,
  .about-fragment li {
    font-size: 0.7rem;
  }

  #about::after {
    content: "";
    clear: both;
    display: table;
  }

  .about-fragment img {
    padding-top: 40px;
  }

  #about h2 {
    padding-top: 100px;
  }

  /* ~~ POSTS ~~ */

  #posts {
    margin: 30px auto;
    padding: 2% 5%;
  }

  .posts {
    float: left;
    width: 31%;
    margin: 10px;
    padding: 10px;
  }

  #posts::after {
    content: "";
    clear: both;
    display: table;
  }

  input[type="button"] {
    width: 200px;
  }


  /* ~~ CONTACT ~~ */
  #contact {
    width: 100%;
  }

  .contact-fragments {
    width: 25%;
    padding-top: 40px;
    min-height: 200px;
    margin: 0 auto;
    font-size: .7rem;
  }

  .contact-fragments h3 {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .house img {
    height: 130px;
    width: auto;
  }

  .house {
    padding: 40px 0 0 0;
    min-width: 25%;
  }

  .house::after {
    content: "";
    clear: both;
    display: table;
  }

  /* ~~ MAIL-US ~~ */

  #mail-us {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
}


/* ~~ Desktops Large ~~ */

@media only screen and (min-width: 1200px) {

  h2 {
    font-size: 50px;
  }

  nav ul li a:link,
  nav ul li a:visited,
  nav ul li a:hover,
  nav ul li a:active {
    font-size: 1rem;
  }

  .about-fragment p,
  .about-fragment li {
    font-size: .9rem;
  }

  #about .container h3 {
    font-size: 1.2rem;
  }
}